@tailwind base;
@tailwind components;
@tailwind utilities;

/* ______________________________________________________________________ *\
   Import local fonts
\* ______________________________________________________________________ */
@font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/Figtree-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/Figtree-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* ______________________________________________________________________ *\
   Default base styles
\* ______________________________________________________________________ */
@layer base {
  body {
    font: 1rem / 1.5 theme('fontFamily.sans');
    @apply text-neutral-900;
  }
}

/* ______________________________________________________________________ *\
   Component base styles
\* ______________________________________________________________________ */
@layer components {
  .footer__link {
    &,
    &:link {
      @apply text-[#6931ca] underline underline-offset-4;
    }
    &:visited {
      @apply text-neutral-500;
    }
    &:hover,
    &:focus-visible {
      @apply text-pink-600 no-underline;
    }
    &:active {
      @apply text-neutral-900;
    }
  }
}
