@tailwind base;
@tailwind components;
@tailwind utilities;

/* ______________________________________________________________________ *\
   Import local fonts
\* ______________________________________________________________________ */
@font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/Figtree-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('assets/fonts/Figtree-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* ______________________________________________________________________ *\
   Default base styles
\* ______________________________________________________________________ */
@layer base {
  body {
    font: 1rem / 1.5 theme('fontFamily.sans');
    @apply text-neutral-900;
  }
}
